
Administrador
<div class="row">
    <div class="col-md-6">
        <label for="velocidad">Velocidad:</label>
        <input type="text" id="velocidad" name="velocidad" class="form-control mb-2">
        <!-- Otros campos de entrada aquí -->
        <label for="regate">Regate:</label>
        <input type="text" id="regate" name="regate" class="form-control mb-2">
        <label for="resistencia">Grasa Corporal:</label>
        <input type="text" id="resistencia" name="resistencia" class="form-control mb-2">
        <label for="resistencia">Grasa Muscular:</label>
        <input type="text" id="resistencia" name="resistencia" class="form-control mb-2">
    </div>
    <div class="col-md-6">
        <label for="resistencia">Resistencia:</label>
        <input type="text" id="resistencia" name="resistencia" class="form-control mb-2">
        <label for="resistencia">Ritmo:</label>
        <input type="text" id="resistencia" name="resistencia" class="form-control mb-2">
        <label for="resistencia">Defensa:</label>
        <input type="text" id="resistencia" name="resistencia" class="form-control mb-2">

        
        <!-- Otros campos de entrada aquí -->
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <button class="btn btn-secondary rounded-pill">
            <i class="fas fa-question-circle"></i> Código
        </button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary rounded-pill">
            <i class="fas fa-search"></i> Buscar
        </button>
        <button class="btn btn-primary rounded-pill">
            <i class="fas fa-sync-alt"></i> Actualizar
        </button>
    </div>
</div>